<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  
  <servlet>
	<servlet-name>SignInServlet</servlet-name>
	<servlet-class>com.newbalance.rickie.servlets.SignInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignInServlet</servlet-name>
    <url-pattern>/servlet/SignInServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>LogInServlet</servlet-name>
	<servlet-class>com.newbalance.rickie.servlets.LogInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogInServlet</servlet-name>
    <url-pattern>/servlet/LogInServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>ModifyUserBasicInfoServlet</servlet-name>
	<servlet-class>com.newbalance.rickie.servlets.ModifyUserBasicInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyUserBasicInfoServlet</servlet-name>
    <url-pattern>/servlet/ModifyUserBasicInfoServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>GetSecuQuestionServlet</servlet-name>
	<servlet-class>com.newbalance.rickie.servlets.GetSecuQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSecuQuestionServlet</servlet-name>
    <url-pattern>/servlet/GetSecuQuestionServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>FindPasswordServlet</servlet-name>
	<servlet-class>com.newbalance.rickie.servlets.FindPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindPasswordServlet</servlet-name>
    <url-pattern>/servlet/FindPasswordServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>FollowServlet</servlet-name>
	<servlet-class>com.newbalance.rickie.servlets.FollowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FollowServlet</servlet-name>
    <url-pattern>/servlet/FollowServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>CancelFollowServlet</servlet-name>
	<servlet-class>com.newbalance.rickie.servlets.CancelFollowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelFollowServlet</servlet-name>
    <url-pattern>/servlet/CancelFollowServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>GetFollowNumServlet</servlet-name>
	<servlet-class>com.newbalance.rickie.servlets.GetFollowNumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFollowNumServlet</servlet-name>
    <url-pattern>/servlet/GetFollowNumServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>GetFansNumServlet</servlet-name>
	<servlet-class>com.newbalance.rickie.servlets.GetFansNumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFansNumServlet</servlet-name>
    <url-pattern>/servlet/GetFansNumServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>GetFollowListServlet</servlet-name>
	<servlet-class>com.newbalance.rickie.servlets.GetFollowListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFollowListServlet</servlet-name>
    <url-pattern>/servlet/GetFollowListServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>GetFansListServlet</servlet-name>
	<servlet-class>com.newbalance.rickie.servlets.GetFansListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFansListServlet</servlet-name>
    <url-pattern>/servlet/GetFansListServlet</url-pattern>
  </servlet-mapping>
  
  
</web-app>